@media (max-width: 768px)  {
  .burger-act {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #db6f0b;
    width: 100%;
    padding: 10px 20px;
    gap: 5px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu.active #burger-icon {
    display: none;
  }

  .menu.active #close-icon {
    display: block;
  }
  .logopict {
    width: 90px;
    height: 40px;
  }
  .footer-div {
    flex-direction: column;
    height: 00px;
  }

  .facebook {
    display: none;
  }
}


/* main section
section1 */

@media (min-width: 320px)  and (max-width:1024px){
  .left-div {
    width: 100%;
    flex-direction: column;
    /* margin-left: 10px; */
  }
  .tltle {
    width: 90%;
    margin-left: 10px;
  }
  h1{
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 10px;
  }
  .title-paragrap {
    margin-right: 0px;
    margin-left: 10px;
  }
  .video{
    width: 100%;
    height: 40%;
    margin-top: 15px;
  }
}



@media (min-width: 320px)  and (max-width:480px){
  .section-1{
    padding-top: 100px;
  }
  /* .left-div {
    width: 100%;
    flex-direction: column;
  } */
  .video{
    width: 100%;
    height: 40%;
  }
  h1{
    font-size: 24px;
  }
  .title-paragrap {
  font-size: 16px;
  }
  .registration-form {
    
    margin-top: 20%;
    right: 0%;
    left: 20%;
    width: 60%;
    height: 60%;
    
  }
  
}


@media (min-width: 480px)  and (max-width:768px){
  .section-1{
    padding-top: 100px;
  }
  .tltle {
    width: 90%;
    margin-left: 0px;
  }
  h1{
    font-size: 26px;
  }
  .title-paragrap {
  font-size: 18px;
  }
  .registration-form {
    margin-top: 20%;
    right: 0%;
    left: 20%;
    width: 50%;
    height: 60%;
  }
}

@media (min-width: 769px)  and (max-width:1024px){
  .section-1{
    height: 800px;
  }
  .tltle {
    width: 100%;
    margin-left: 0px;
  }
  h1{
    font-size: 32px;
  }
  .title-paragrap {
  font-size: 22px;
  }
  .video{
    width: 100%;
    height: 60%;
    margin-top: 20px;
  }
  .registration-form {
    margin-top: 20%;
    right: 0%;
    left: 30%;
    width: 40%;
    height: 60%;
  }
}