@media (max-width: 768px) {
  .burger-act {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #db6f0b;
    width: 100%;
    padding: 10px 20px;
    gap: 5px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu.active #burger-icon {
    display: none;
  }

  .menu.active #close-icon {
    display: block;
  }
  .logopict {
    width: 90px;
    height: 40px;
  }
  .footer-div {
    flex-direction: column;
    height: 00px;
  }

  .facebook {
    display: none;
  }
}
