
.sections {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  /* height: 800px; */
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


/* header */
header {
  /* background-color: #191a19; */
  width: 100%;
  height: 158px;
  position: fixed;
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e27f58;
  color: #fff;
  padding: 10px 20px;
}

.logopict{
 width: 130px;
 height: 50px;
 border-radius: 5px;
}
.menu {
  display: flex;
  align-items: center;
}

.burger-icon, .close-icon {
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
 
}

.burger-act{
  display: none;
}
.bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 6px auto;
  transition: 0.4s;
}

.close-icon {
  display: none;
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.active-li{
  color: #45a049;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 768px) {
  .burger-act{
      display: block;
  }
  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #5e935d;
      width: 100%;
      padding: 10px 20px;
      gap: 5px;
      
  }

  .nav-links.active {
      display: flex;
  }

  .menu.active #burger-icon {
      display: none;
  }

  .menu.active #close-icon {
      display: block;
  }
}
/* section 1 */

.section-1{
  width: 100%;
  height: 900px;
  background-color: #457ba0;
}

/* .section-1{
font-family: Arial, sans-serif;
margin: 0;
display: flex;
justify-content: left;
align-items: center;
height: 100vh;
background-color: #f4f4f4; 
} */

.slide-container {
  position: relative;
  width: 300px;
  height: 200%;
}

.slide {
  position: absolute;
  left: -180px;
  top: 200;
  width: 300px;
  background-color: #db6f0b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: left 2.0s;
}

.slide:hover {
  left: 0;
}

.contact, .social {
  display: none;
}

.contact.active, .social.active {
  display: block;
}

.social ul {
  list-style: none;
  padding: 0;
  gap: 10px;
}

.social ul li {
  margin-bottom: 10px;
  
}

.social ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
 
}

/* section 2 */

.section-2{
  width: 100%;
  height: 900px;
  background-color: #a367cd;
}


/* footer */

footer {
  background-color: #d8991b71;
  height: 200px;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-social img {
  height: 30px;
  margin-right: 10px;
}

.footer-contact p {
  margin: 0;
  font-size: 16px;
}



.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
}

.social-links {
  flex: 1;
  text-align: center;
}

.social-icon {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.contact-info {
  flex: 1;
  text-align: center;
}

.contact-info p {
  margin: 5px 0;
}

/* call */
.contact-container {
  max-width: 600px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

form button:hover {
  background-color: #45a049;
}

.contact-options {
  margin-top: 20px;
}

.contact-options p {
  margin-bottom: 10px;
}

.contact-options a {
  color: #333;
  text-decoration: none;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

