@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Noto Serif Georgian', serif; */
.sections {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;

  /* height: 800px; */
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* header */
header {
  /* background-color: #191a19; */
  width: 100%;
  height: 158px;
  position: fixed;
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #db6f0b;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  padding: 0 60px;
}

.logopict {
  width: 130px;
  height: 50px;
  border-radius: 5px;
}
.menu {
  display: flex;
  align-items: center;
}

.burger-icon,
.close-icon {
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
}

.burger-act {
  display: none;
}
.bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 6px auto;
  transition: 0.4s;
}

.close-icon {
  display: none;
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.active-li {
  color: #45a049;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.nav-links a:hover {
  color: #333;
}

/* section 1 */

.section-1 {
  width: 100%;
  height: 900px;
  background-color: #dfe3e1;
}

.video {
  margin-right: -80px;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.video iframe {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.left-div {
  padding-top: 10%;
  width: 90%;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tltle {
  width: 40%;
  margin-left: 20px;
}
h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #db6f0b;
  text-align: center;
  margin-right: 20px;
}
.title-paragrap {
  color: black;
  font-weight: 400;
  font-size: 24px;
  margin-right: 50px;
  text-align: center;
  line-height: 26px;
  font-family: "Noto Serif Georgian", serif;
}
/* .section-1{
font-family: Arial, sans-serif;
margin: 0;
display: flex;
justify-content: left;
align-items: center;
height: 100vh;
background-color: #f4f4f4; 
} */

.slide-container {
  position: relative;
  width: 300px;
  height: 200%;
}

.slide {
  position: absolute;
  left: -180px;
  top: 200;
  width: 300px;
  height: 200px;
  background-color: #db6f0b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: left 1.5s;
}

.slide:hover {
  left: 0;
}

.contact,
.social {
  display: none;
}

.contact.active,
.social.active {
  display: block;
}

.social ul {
  list-style: none;
  padding: 0;
  gap: 10px;
}

.social ul li {
  margin-bottom: 10px;
}

.social ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.tel-color {
  text-decoration: none;
  color: rgb(219, 241, 240);
  font-weight: 600;
}

/* section 2 */

.section-2 {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
  background-color: #a367cd;
  padding-top: 30px;
}
.photo-container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.photo-container img {
  max-width: 350px;
  height: auto;
  border-radius: 8px;
}
/* footer */

footer {
  background-color: #f2ebeff7;
  height: 250px;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-social img {
  height: 30px;
  margin-right: 10px;
}
.hover-icon:hover {
  background-color: #eebf13;
  border-radius: 50%;
}
.facebook {
  margin-top: 40%;
}

.all-rights {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.all-rights span {
  color: #db6f0b;
  font-weight: 800;
}
.footer-contact p {
  margin: 0;
  font-size: 16px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
}

.social-links {
  flex: 1;
  text-align: center;
}

.social-icon {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.contact-info {
  flex: 1;
  text-align: center;
}

.contact-info p {
  margin: 5px 0;
}

/* registration*/
.registration-form {
  position: fixed;
  margin-top: 15%;
  right: 65%;
  left: 35%;
  width: 30%;
  height: 50%;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label,
input,
button {
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

/* slide right */

.container-upload {
  position: relative;
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-upload {
  max-width: 60%;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.slide-container-upload {
  position: absolute;
  top: 0;
  left: -400px;
  height: 100%;
  width: 400px;
  background-color: #333;
  color: #fff;
  transition: 0.5s;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.slide-content-upload {
  display: none;
}

.minimize-button-upload {
  cursor: pointer;
  font-size: 24px;
  margin-top: auto;
  align-self: flex-end;
  margin-bottom: 10px;
}

.slide-content-upload.active {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}

label,
textarea,
input[type="file"],
button[type="submit"] {
  margin-bottom: 10px;
  font-size: 1em;
  width: 100%;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  background-color: #f39c12;
  color: #fff;
  border: none;
}

button[type="submit"]:hover {
  background-color: #e74c3c;
}

/* chaches page */
.conteiner-little-div {
  /* padding-top: 60px; */
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  /* margin: 0; */
  padding-top: 100px;
}
.info-container {
  display: flex;
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.info-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin: 10px;
}
.info {
  text-align: center;
}

.info img {
  max-width: 100%;
  height: auto;
}

.info-details {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1;
}

.close-btn-info {
  float: right;
  cursor: pointer;
  background-color: #45a049;
}
.close-btn-info:hover {
  background-color: #db6f0b;
}
.info h3 {
  margin-bottom: 20px;
}
.see-more-btn:hover {
  background-color: #db6f0b;
}

.see-more-btn {
  background-color: #45a049;
}
